*{
    font-family: 'Poppins', sans-serif;
}

.bg{
    /* background-image: url(./components/bgcolor2.jpg); */
    /* background-image: url(./components/bgcolor.jpg); */

    /* background-size: cover;
    
    background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    background-color: rgba(170, 0, 255, 0.778);   
}
.container{
    background-color: white;
    padding-top: 0px;
    margin-top: 0px;

}

@media (max-width: 2660px) {
    .bg,body {
        background-size: 100% 100%; /* Adjust the background size for mobile */
        width: 100%;
    }
}

.dropdown-menu {
    display: none;
    animation: fadeInDown 0.5s ease-out;
    border: none;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.dropdown-item {
    opacity: 1;
    animation: fadeInItem 0.5s ease-out forwards;
}

.dropdown-menu a:hover {
    background-color: transparent !important;
    color: #fff !important; /* Set the text color as needed */
}
.navbar-brand{
    font-weight: 900;
}
.navbar-nav,.dropdown-item{
    font-weight: 600;
    
}

.font-size{
    font-weight: 500;
}
.hh{
    font-weight: 600;
    color: rgb(49, 47, 47);
}
.main,label,strong{
    font-weight: 600;
    color: rgba(170, 0, 255);
}
label{
    font-weight: 1000;
}
.index{
    margin: 0px;
    padding: 0px;
    
}
img{
    border-radius: 10px;
    width: 800px;
}
iframe{
    border-radius: 15px;

}
.text{
    color: black;
}
.text-hig{
    color: rgb(225, 2, 255);
}
li::marker {
    color: rgba(170, 0, 255); /* Change 'red' to the color you desire */
}

/* p{
    color: #eae4e4;
} */
.img-zoom,img,iframe,h1,p,li,h5,label,a {
    transition: transform 0.3s ease;
    transform: scale(0.98); /* Initial size */

  }
.img-zoom:hover,img:hover,iframe:hover,h1:hover,p:hover,li:hover,h5:hover,label:hover,a:hover{
    transform: scale(1);
}
.im{
    transition: transform 0.3s ease;
    transform: scale(0.98) rotate(0deg); /* Initial size */

  }
.im:hover{
    transform: scale(1) rotate(23deg);
}

